#report{
    font-size: 16px;
}

table {
    width: auto;
    border-spacing: 0;
    font-size: 16px;
}

table th {
    color: #fff;
    padding: 8px 15px;
    background: rgb(53, 121, 190);
    font-weight: bold;
    line-height: 120%;
    text-align: left;
}

table tr:first-child th {
    border-bottom: 1px solid #ffffff;
}

table th:last-child {
    border-right: 1px solid rgb(53, 121, 190);
    border-left: 1px solid #ffffff;
}

table tr td {
    padding: 8px 15px;
    border-bottom: 1px solid #84b2e0;
    border-left: 1px solid #84b2e0;
    text-align: left;
}

table tr td:last-child {
    border-right: 1px solid #84b2e0;
}

table tr {
    background: #fff;
}

table tr:nth-child(2n+1) {
    background: #f1f6fc;
}

table tr:hover {
    background: #bbd4ee;
    cursor: pointer;
}

#notWatchedAll {
    background-color: #cfcfcf
}

#animeHistory {
    width: 100%; max-width: 600px;
}

#hitrate{
    width: 100%; max-width: 600px;
}

#app{
    padding-left: 20px;
}